* {
    box-sizing: border-box;
}

.test-drive h2 {
    text-align: center;
    margin: 25px 0px;
    background-color: rgb(248, 249, 250);
    padding: 25px 0px;
    font-weight: 400;
}

.form-check {
    padding-left: 2.3rem;
}
